@model WebApplication5.Models.Institution

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Institution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img class="card-img-top" src="@Model.PhotoPath" style="width: 100%; " alt="Card image cap">
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dishes.GetEnumerator().Current.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes.GetEnumerator().Current.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes.GetEnumerator().Current.Price)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Dishes) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="CreateDish" asp-route-id="@Model">Create</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
