@model WebApplication5.Models.Institution
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Title</h4>
    <hr />
    <div style="flex-wrap: wrap; display: flex; justify-content: space-between;">
        <div>
            <div>
                <img class="card-img-top" src="@Model.PhotoPath" style="width: 200px; height: 200px; " alt="Card image cap">
            </div>
            <div>
                <div style="font-weight: bold">
                    @Localizer["TITLE"]
                </div>
                <div>
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div>
                <div style="font-weight: bold">
                    @Localizer["DESCRIPTION"]
                </div>
                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
        <div style="display: grid;">
            <div><h3>@Localizer["BASKET"]</h3></div>
            <div style="display: inline-flex;">
                <div>
                    <div>@Localizer["TITLE"]</div>
                    <div id="name"></div>
                </div>
                <div style="padding-left: 64px;">
                    <div>@Localizer["DESCRIPTION"]</div>
                    <div id="price"></div>
                </div>
            </div>
            <div style="display: inline-flex; font-weight: bold;">
                <div>
                    <div>@Localizer["TOTAL"]</div>
                </div>
                <div>
                    <div id="total"></div>
                </div>
            </div>
        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["TITLE"]
                </th>
                <th>
                    @Localizer["DESCRIPTION"]
                </th>
                <th>
                    @Localizer["PRICE"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dishes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <form asp-controller="Institutions" asp-action="AddToTrash" method="post" style="display: inline;">
                            <input type="button" value="@Localizer["ADDTOBASKET"]" onclick="AddDishToTrash('@item.Id')" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    var price = 0;
    var instId = "@Model.Id";


    var array = [];

    window.onload = function () {
        var data = JSON.parse(localStorage.getItem('dishInTrash' + instId.toString()));
        array = data;
        array.forEach(function (element) {
            var a = element.split("\",\"");
            $('<p>' + a[0].replace("[\"", "") + '</p>').appendTo("#name");
            $('<p>' + a[1].replace("\"]", "") + '</p>').appendTo("#price");

            price += Number(a[1].replace("\"]", ""));

            $("#total").text(price);
        })
    };

    function AddDishToTrash(dishId) {
        $.ajax({
            url: '@Url.Action("AddToTrash", "Institutions")',
            type: 'POST',
            contentTtpe: "application/json",
            data: { 'dishId': dishId },
            success: function(data) {
                AddToLocalStorage(data);
                array = array || [];
                array.push(data);
            }
        });
    }

    function AddToLocalStorage(data) {
        var myData = JSON.parse(data);
        $('<p>' + myData[0] + '</p>').appendTo("#name");
        $('<p>' + myData[1] + '</p>').appendTo("#price");
        price += Number(myData[1]);

        console.log(array);
        $("#total").text(price);
    }


    function Save() {
        localStorage.setItem('dishInTrash'+instId.toString(), JSON.stringify(array));
    }

    window.onbeforeunload = Save;



</script>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["EDIT"]</a> |
    <a asp-action="Index">@Localizer["BACKTOLIST"]</a>
</div>
