@model IEnumerable<WebApplication5.Models.Institution>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="d-flex flex-row justify-content-between">
    @foreach (var item in Model) {
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="@item.PhotoPath" style="width: 100%; " alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    } 
</div>

